.portfolio{
    display: flex;
    padding-top: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7B2BBA;
    /* padding-bottom: 5vw; */
    
}
.toggle_button {
    padding: 8px;
    cursor: pointer;
    border: 3px dotted #7B2BBA;
    color: #7B2BBA;
    background-color: transparent;
    font-size: 1rem;
    margin: 15px;
    border-radius: 5vw;
    user-select: none;
    transition: all 0.3s ease;
    -moz-user-select: none;
  }
  
  .toggle_button.active {
    background-color:  transparent;
    user-select: none;
    font-size: 1.1rem;
    /* #16181b; */
    color: #c38bee;
    border-style: none;
    border: 3px solid #7B2BBA;
    font-weight: bold ;
   
  }
/* .portfolio-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5vw 7vw 5vw 7vw;
} */

.portfolio-wrap{
    display: flex;
   padding: 5% 0 5% 0;
    margin-left: 5vw;
    width: 90vw;
    overflow-x: scroll;
}
@media screen and (max-width: 800px) {
    .portfolio{
        padding-top: 7vw;
    }
}